@model List<Microsoft.AspNetCore.Identity.IdentityUserRole<string>>

@{
    ViewBag.Title = "Set Role Manage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    List<HonaEyeWear.Models.ApplicationUser> users = ViewBag.Users;
    List<Microsoft.AspNetCore.Identity.IdentityRole> roles = ViewBag.Roles;
}


<div class="row">
    <div class="col-12">
        <div class="card card-info">
            @using (Html.BeginForm("SetRole", "ManageRole", FormMethod.Post))
            {
                <div class="card-header">
                    <h4 class="modal-title">Set role cho user</h4>
                </div>
                <div class="card-body">
                    <div class="card-body table-responsive p-0">
                        <div class="form-group">
                            <label>User</label>
                            <select class="form-control" name="UserId" id="UserId">
                                @foreach (var user in ViewBag.Users)
                                {
                                    <option value="@user.Id">@user.UserName</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Role</label>
                            <select class="form-control" name="RoleId" id="RoleId">
                                @foreach (var role in ViewBag.Roles)
                                {
                                    <option value="@role.Id">@role.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="card-footer justify-content-between">
                    <button type="submit" class="btn btn-primary">Lưu thay đổi</button>
                </div>
            }
            <div class="d-flex">
                <a class="btn btn-back" href="/Admin/ManageRole/Index">
                    Về danh sách
                </a>
            </div>
        </div>
    </div>
</div>